# meta files
.DS_Store
.history

# logs
logs
log

# npm
node_modules
npm-debug.log

# bower
bower_components
assets/less/vendor/*
!assets/less/vendor/.keep
public/js/vendor/*
!public/js/vendor/.keep

# compiled files
public/js/dist/*
public/css/*
!public/css/.keep

